<style media="screen">
.center{
   text-align:center;
}
.background{
  background-color:#3E0003;
}
</style>

<ion-view title="Corpus Fund Campaign" class="favorites-page background">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

<ion-content class="center">



<pre></pre>
<!--
<h1 style="color: #FFFB00;">Fund Mandali Campaign</h1>
<h3 style="color: #FFFB00;">
  Na Sangeetha Tashanam Vritha
</h3> -->
<img style="Width: 100%;" ng-src="img/F2.jpg">
<pre>

</pre>
<div class="list list-inset card">

  <a class="item item-icon-right" ng-href="mailto:ramasevamandali@gmail.com">
    <i class="icon ion-email"></i>
    ramasevamandali@gmail.com
  </a>

  <a class="item item-icon-right" ng-href="tel:+91-944-807-9079" >
    <i class="icon ion-iphone"></i>
    General Secretary
  </a>
  <a class="item item-icon-right" ng-href="tel:+91-959-125-7787" >
    <i class="icon ion-iphone"></i>
    E.O
  </a>


</div>

<img style="Width: 100%;" ng-src="img/fund.jpg">


</ion-content>
</ion-view>
